body {
  background-color: lavender;
}

.button {
  padding: 50px;
  text-align: center;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
  padding: 15px;
  background-color: lavender;
}

.card-title {
  text-align: center;
}

.paypal-button {
  padding: 20px;
} 